name: Release
on:
  push:
    branches: [ main ]
  workflow_dispatch:
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Configure user
        run: |
          git config --global user.email "actions@github.com"
          git config --global user.name "Github Actions"

      - run: cd $GITHUB_WORKSPACE

      - name: echo version
        run: |
          git remote update
          git tag -l

      - name: Tag and Publish
        run: git tag -l | grep v$(make version) || make publish
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          
      - name: Push to Godot Asset Library
        uses: wjt/godot-asset-lib-action@9cce3792b504bec69eb06b852b008d095e372f56
        with:
          username: ${{ secrets.GODOT_ASSET_LIBRARY_USERNAME }}
          password: ${{ secrets.GODOT_ASSET_STORE_PASSWORD }}
          assetId: 2212
          assetTemplate: .github/asset-template.json.hb